<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1>This is the About Page</h1>
<p>This is my first app creation! I am creating this app as an assignement!</p>
<p>The following are the instructions for this application assignment;</p>
<ol>
  <li>
      Your app must have at least three pages
  </li>
  <li>
      You must pass data from one page to another, in whatever way you see fit
    </li>
    <li>
        Your app's code must be published to Github when you're done. Provide a URL here on Blackboard
      </li>
</ol>
</ion-content>




