<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
 <h1>Good morning, Starshine! <br> The Earth says, "hello!"</h1>
 <ion-button expand="full" color="danger" (click)="buttonClicked()">
   Press here!
   <ion-icon name="finger-print"></ion-icon> 
  </ion-button>
<h2>What is your name?</h2>
<ion-list>
<ion-item>
 <ion-label position="floating">Username:</ion-label>
 <ion-input [(ngModel)]="username"></ion-input>
</ion-item>
</ion-list>
<ion-button color="secondary" expand="full" (click)="saveName()">Submit!</ion-button>

<ion-button color="tertiary" (click)="gotoAbout()">About Page</ion-button>



  </div>
</ion-content>
